.login-container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
  padding: 20px;
}

.login-card{
  width: 100%;
  max-width: 450px;
  padding: 45px;
  border-radius: 25px;
  background: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.login-card h2{
  font-weight: bold;
}

.form-control{
  height: 50px;
  border-radius: 0 10px 10px 0;
}

.input-group-text{
  background: #111;
  color: white;
  border: none;
  border-radius: 10px 0 0 10px;
}

.login-btn{
  height: 50px;
  border-radius: 12px;
  font-weight: 500;
  transition: 0.3s;
}

.login-btn:hover{
  transform: translateY(-2px);
}


